<p>Git es complicado: es fácil cagarla, y corregir los errores es jodidamente imposible. La documentación de Git padece del
problema del huevo y la gallina, en el cual no se puede encontrar cómo corregir el desastre <em>sin conocer previamente el nombre
de aquello que es necesario saber</em> para resolver el problema.</p>

<p>Así que aquí están algunas de las situaciones problemáticas en las que me he encontrado, y cómo puede eventualmente salir de ellas <em>en español liso y llano</em>.</p>