<p>*Advertencia: este sitio no pretende ser una referencia exhaustiva. Y si, existen otras formas de realizar estas mismas operaciones de manera más elegante
o teóricamente más puras, pero he llegado a estas soluciones por ensayo y error, con muchas maledicciones y golpes en la mesa, y tuve esta loca idea
de compartirlas con una saludable dosis de ligereza e improperios. Tómelas o déjelas según su preferencia!</p>